numpy==2.3.1
pandas==2.3.0
scikit-learn==1.7.0
nltk==3.9.1
gensim==4.3.3

torch==2.7.1
transformers==4.51.3
datasets==3.6.0
sentence-transformers==5.0.0
accelerate==1.7.0
sentencepiece==0.2.0
evaluate==0.4.5
huggingface-hub==0.33.1

jupyter==1.1.1
notebook==7.4.4
tqdm==4.67.1
matplotlib==3.10.3